.form-style-6{
	
	padding: 50px 50px;
	box-shadow: 10px 10px ;
	margin: 80px auto;
	position: absolute;
  left: 20%;
	background:white;
	border-radius: 50px;
	border: 2px solid #08394d;
	font-family: Georgia, "Times New Roman", Times, serif;

  }